name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      # 1. Scarica il codice dal repo
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Prova a costruire l'immagine Docker
      # Se il Dockerfile è sbagliato, questo step fallisce e ti arriva la mail di errore
      - name: Build Docker Image
        run: docker build -t my-converter .
      
      # 3. (Opzionale) Test banale
      - name: Simple Check
        run: echo "Se vedi questo, l'immagine è stata costruita correttamente!"